@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  /* background-color: rgb(40, 40, 40);
  color: rgb(182, 182, 182); */
}

body, html {
  /* color:  rgb(182, 182, 182); */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

/* Home */
.home {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  position: relative; top: -400px;
  color: rgb(75, 75, 75);
  padding: 64px;
  max-width: 800px;
  margin: 0 auto;
}

.join-btn {
  background-color: rgb(87, 117, 252);
  border-radius: 14px;
  padding: 12px;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  margin-top: 20px; /* Adjusted margin-top to create space below h1 */
  box-shadow: rgb(0, 72, 255) 0px 0px 3px;
  border: 1px solid rgb(0, 72, 255);
  transition: all 0.2s ease-in-out;
}

.join-btn:hover {
  background-color: rgb(47, 85, 252);
  box-shadow: #f2f2f2 0px 0px 3px;
  font-weight: bolder;
  transform: scale(1.1);
  cursor: pointer;
}

/* kratos large image */
.why-join-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px; 
  margin: 0 auto; 
  padding: 0px; 
  z-index: 0;
}

.why-join-section h2 {
  font-size: 2.5rem;
}

.kratos-image {
  width: 100%;
  max-width: 1100px;
}

/* Why join cards */
.join-cards-container {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly; /* Adjust as needed */
  margin-top: -80px; /* Add spacing between the image and cards */
  gap: 4px;
  background-color: rgb(248, 248, 248);
}

.join-cards {
  /* position: absolute;
  bottom: 0;  */
  width: 300px;
  height: 360px; 
  background-color: rgba(131, 126, 126, 0.8); 
  margin: 0; 
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  z-index: 1; 
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
  border: 1px solid rgb(204, 204, 204);
}


.join-card-1 {
  margin-right: 0px;
  margin-bottom: 8px;
}


.join-card-2 {
  margin: 0px -400px 0px;
}

.join-card-3 {
  right: 0px; 
}

.join-cards h3 {
  /* margin-bottom: auto; */
}

.join-cards p {
  margin-bottom: 14vh;
  text-align: center;
  width: 14vw;
  text-wrap: wrap;
}

/* friendly Community Card*/
.join-card-1 p {
  margin-bottom: 12vh;
}

/* forums */
.forums-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center; 
  position: relative; top: -400px;
}

.signupcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center; 
  position: relative; top: -400px;
}





/* Login Form */
.loginContainer {
  max-width: 400px;
  margin: auto;
  position: relative;
  top: -600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.email-header,
.password-header {
  font-size: 1.5rem;
}


.email-input {
  width: 100%; /* Set both email and password inputs to 100% width */
  box-sizing: border-box;
  margin-bottom: 36px;
  padding: 26px;
  color: rgb(230, 230, 230);
  background-color: black;
}

.password-input {
  width: 87%;
  box-sizing: border-box;
  margin-bottom: 36px;
  padding: 26px;
  background-color: black;
}

.login-form-button {
  width: 140px;
  box-sizing: border-box;
  padding: 16px;
  font-size: 20px;
  color: white;
  background-color: #181a1c;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: #f2f2f2 0px 0px 3px;
}

.login-form-button:hover {
  color: #c1003a;
  box-shadow: #c1003a 0px 0px 3px;
}
