@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  /* background-color: rgb(40, 40, 40);
  color: rgb(182, 182, 182); */
}

body, html {
  /* color:  rgb(182, 182, 182); */
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh; */
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

/* Home */
.home {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  position: relative; 
  bottom: -264px;
  height: 85vh;
  color: rgb(75, 75, 75);
  padding: 64px;
  max-width: 800px;
  margin: 0 auto;
  /* z-index: -2; */
}

.join-btn {
  background-color: rgb(87, 117, 252);
  border-radius: 14px;
  padding: 12px;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  margin-top: 20px; /* Adjusted margin-top to create space below h1 */
  box-shadow: rgb(0, 72, 255) 0px 0px 3px;
  border: 1px solid rgb(0, 72, 255);
  transition: all 0.2s ease-in-out;
}

.join-btn:hover {
  background-color: rgb(47, 85, 252);
  box-shadow: #f2f2f2 0px 0px 3px;
  font-weight: bolder;
  transform: scale(1.1);
  cursor: pointer;
}

/* kratos large image */
.why-join-section {
  text-align: center;
  color: rgb(75, 75, 75);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  max-width: 1100px; 
  margin: 0 auto; 
  padding: 0px; 
}

.why-join-section h2 {
  font-size: 2.5rem;
}

.kratos-image {
  width: 100%;
  max-width: 1100px;
}

/* Why join cards */
.join-cards-container {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly; /* Adjust as needed */
  margin-top: -80px; /* Add spacing between the image and cards */
  gap: 4px;
  background-color: rgb(248, 248, 248);
}

.join-cards {
  /* position: absolute;
  bottom: 0;  */
  width: 300px;
  height: 360px; 
  background-color: rgba(131, 126, 126, 0.8); 
  margin: 0; 
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  z-index: 1; 
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
  border: 1px solid rgb(204, 204, 204);
}


.join-card-1 {
  margin-right: 0px;
  margin-bottom: 8px;
}


.join-card-2 {
  margin: 0px -400px 0px;
}

.join-card-3 {
  right: 0px; 
}

.join-cards h3 {
  /* margin-bottom: auto; */
}

.join-cards p {
  margin-bottom: 14vh;
  text-align: center;
  width: 14vw;
  text-wrap: wrap;
}

/* friendly Community Card*/
.join-card-1 p {
  margin-bottom: 12vh;
}

/* forums */
.login-heading {
  color: rgb(0, 0, 0);
  position: absolute;
  text-align: center;
  top: 20vh;
  width: 100%;
}

.forums-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center; 
  position: relative; top: -400px;
}

/* Login Form */
.loginContainer {
  max-width: 328px;
  margin: auto;
  position: relative; 
  top: 260px;
  height: 35vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(26, 97, 190, 0.8);
  padding: 30px 0px 32px;
  border: 1px solid rgb(50, 126, 224);
  border-radius: 20px;
  box-shadow: 0 0 8px 4px #00f;
  animation: glow 1.5s infinite alternate;
}

.email-header,
.password-header {
  font-size: 1.5rem;
}

.email-input {
  width: 100%; /* Set both email and password inputs to 100% width */
  box-sizing: border-box;
  margin-bottom: 36px;
  padding: 16px;
  color: rgb(230, 230, 230);
  background-color: black;
}

.password-input {
  width: 87%;
  box-sizing: border-box;
  margin-bottom: 36px;
  padding: 16px;
  color: rgb(230, 230, 230);
  background-color: black;
}

.login-form-button {
  width: 140px;
  box-sizing: border-box;
  padding: 16px;
  font-size: 20px;
  color: white;
  background-color: #181a1c;
  border: none;
  cursor: pointer;
  border: 0.5px solid #00f;
  border-radius: 20px;
  box-shadow: #f2f2f2 0px 0px 3px;
}

.login-form-button:hover {
  color: #e4e4e4;
  font-weight: 600;
  background-color: rgb(163, 0, 0);
  border: 0.1px solid rgb(15, 14, 14);
}

/* Sign Up Form */
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
}

.sign-up-heading {
  color: rgb(0, 0, 0);
  position: absolute;
  text-align: center;
  top: 20vh;
  width: 100%;
}

.form-wrapper {
  background-color: rgba(26, 97, 190, 0.8);
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-radius: 12px;
  border: 1px solid rgb(50, 126, 224);
  border-radius: 20px;
  box-shadow: 0 0 8px 4px #00f;
  animation: glow 1.5s infinite alternate;
}

.form-wrapper input {
  /* width: 16vw; */
  width: auto;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

.form-wrapper input:focus {
  outline-color:rgb(73, 132, 241);
}

label {
  font-size: 1.3rem;
  font-weight: 600;
}


/* Dropdown section styling */
.select-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; 
  margin-top: 10px;
}

.custom-select-wrapper {
  position: relative;
}

.pixel-sword {
  width: 52px;
  height: auto;
  
}

.favorite-console {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4px;
}

.custom-select {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 50px;
}

.custom-select::-ms-expand {
  display: none; 
}

/* Sign up Button*/
.sign-up-btn {
  width: 140px;
  margin: 32px auto 0;
  margin-top: 12px;
  box-sizing: border-box;
  padding: 16px;
  font-size: 20px;
  color: white;
  background-color: #181a1c;
  border: none;
  cursor: pointer;
  border: 0.5px solid #00f;
  border-radius: 20px;
  box-shadow: #f2f2f2 0px 0px 3px;
}

.sign-up-btn:hover {
  color: #e4e4e4;
  font-weight: 600;
  background-color: rgb(163, 0, 0);
  border: 0.1px solid rgb(15, 14, 14);
}

/* Profile Page Section */
.profile h2 {
  font-size: 4rem;
  color: rgb(0, 0, 0);
  margin-top: 360px;
  text-align: center;
  animation: fadeIn 8s ease-in-out; 
  animation: changeColor 1s linear infinite alternate;
  animation-iteration-count: 1;
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

/* Color change animation */
@keyframes changeColor {
  0% {
    opacity: 0;
    color: black;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
    color: red;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    color: blue;
    transform: translateY(0);
  }
}

/* Forum Section */
.forum-title {
  font-size: 4rem;
  color: rgb(0, 0, 0);
  margin-top: 660px;
  text-align: center;
  animation: fadeIn 8s ease-in-out; 
  animation: changeColor 1s linear infinite alternate;
  animation-iteration-count: 1;
}