.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px;
  }
  
  .header-links-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    font-size: 1.2rem;
    margin-left: 30px;
    margin-top: 16px;
    gap: 20px;
  }
  
  .header-links-container a {
    text-decoration: none;
    color: #c7c7c7;
  }

  .header-links-container a:hover {
    color: #c1003a;
    font-weight: bolder;
  }

  /* Navbar on the left side of page */
.navbar {
    padding: 6px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    background-color: rgb(255, 255, 255);
    max-width: 100px; 
    height: 100vh; 
    margin: 0;
    border-right: 2px solid #e0e0e0;
    margin-top: 20px;
  }

  .site-logo {
    width: 190px;
    position: absolute;
    top: 0px;
    left: -40px;
  }
  
  .sidebar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 82px;
    height: 80%; 
    font-size: 1.9rem;
    margin-left: 16px;
  }
  
  
  .sidebar-links a {
    text-decoration: none;
    padding: 10px;
    color: grey;
  }
  
  .sidebar-links a:hover {
    color: #cc1a29;
    border-radius: 10px;
    /* box-shadow: #f2f2f2 0px 0px 8px; */
    /* cursor: crosshair; */
    
  }

  /* Footer Section */
  .footer-container {
    width: 100%;
    background-color: rgb(8, 8, 8);
    padding: 12px;
    /* margin-bottom: 650px; */
    position: fixed;
    bottom: 0;
}

.footer-links {
    display: flex;
    background-color: rgb(8, 8, 8);
    justify-content: center;
    gap: 30px;
    margin: 10px;
    font-size: 1.2rem;
}

.footer-links a {
    padding: 10px; 
    background-color: rgb(8, 8, 8);
    text-decoration: none; 
    color: white; 
    align-items: center;
} 

.footer-links a:hover {
    color: #c1003a;
    font-weight: bolder;
    text-shadow: #f2f2f2 0px 0px 40px;
}

