
  /* Header */
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .header-links-container {
    display: flex;
    gap: 40px;
    font-size: 1.3rem;
    margin-right: 30px; /* Move links to the right corner */
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 1000px;
  }

  .site-logo {
    width: 180px;
    position: absolute;
    bottom: -8px;
    left: -20px;
  }

  .site-title {
    font-weight: 600;
    color: rgb(75, 75, 75);
    text-decoration: none;
    margin-right: 20px;
    width: 100px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .header-links-container a {
    text-decoration: none;
    color: rgb(75, 75, 75);
  }
  
  .header-links-container a:hover {
    color: #cc1a29;
    font-weight: bolder;
  }
  
  /* Search Box */
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-left: 10px; /* Adjust as needed */
    width: 300px;
    transition: border-color 0.2s ease-in-out;
    outline: none;
  }

  .search-box input:hover {
    box-shadow: 0 0 8px rgba(124, 189, 242, 0.8); /* Light blue glow on hover */
  }

  .search-box input:focus {
    border-color: rgba(116, 181, 235, 0.8);
    box-shadow: 0 0 6px rgba(156, 198, 253, 0.8);
  }
  
  .search-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(57, 89, 230, 0.2);
    z-index: 1;
  }
  
  .search-box ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .search-box ul li:hover {
    background-color: #eee;
  }
  
  .search-btn {
    padding: 10px;
    border: 1px solid #e0e0e0;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 4px;
    margin-left: 10px;
    background-color: rgb(114, 114, 114);
    color: white;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #c1003a;
  }

  /* Ghost icon */
  .ghost-icon {
    cursor: pointer;
    position: relative;
    left: 100px;
    font-size: 2.2rem;
    color: rgb(0, 72, 255);
  }
  
  
  /* Navbar on the left side of page */
.navbar.expanded {
    padding: 6px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    /* background-color: rgb(255, 255, 255); */
    background-color: #fff;
    width: 164px; 
    height: 52vh; 
    margin: 0;
    border-right: 2px solid #a2a2a2;
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #a2a2a2;
    margin-top: 198px;
    position: sticky;
    top: 20px;
    left: 0px;
    z-index: 100;
    box-shadow: #a8a8a8 8px 8px 10px 0px;
    transition: width 0.3s ease;
  }

  .navbar.collapsed {
    padding: 2px;
    flex-direction: column; 
    align-items: flex-start; 
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(9, 9, 9);
    width: 60px; 
    height: 52vh; 
    margin: 0;
    border-right: 2px solid #e0e0e0;
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    margin-top: 198px;
    position: sticky;
    top: 20px;
    left: 0px;
    z-index: 100;
    transition: width 0.3s ease;
  }

  .chevron-icon {
    cursor: pointer;
    position: relative;
    left: 6px;
    top: 48px;
    font-size: 2.2rem;
    color: rgb(0, 72, 255);
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    box-shadow: #8c9bfc 0px 0px 6px 6px;
  }

  .chevron-icon:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: #ff3030 0px 0px 6px 6px;
    color: #c1003a;
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 82px;
    height: 80%; 
    font-size: 1.9rem;
    margin-left: 16px;
    transition: max-width 0.3s ease, margin-left 0.3s ease;
  }

  .sidebar-links.collapsed {
    margin-left: 2px;

    transition: width 0.3s ease, margin-left 0.3s ease;
  }
  
  .text-container {
    display: inline-block;
    margin-left: 5px;
  }

  
  .sidebar-links a {
    text-decoration: none;
    padding: 10px;
    color: grey;
    position: relative;
    display: flex;
    align-items: center;
    left: 0;
    margin: 0;
  }

  .text-container {
    margin-left: 18px;
    transition: margin-left 0.5s ease;
    font-size: 18px;
  }
  
  .sidebar-links a:hover {
    color: #cc1a29;
  }

  .sidebar-links a:hover::after {
    position: absolute;
    top: 0; 
    left: 100%; 
    font-size: 1.1rem;
    transform: translateX(10px);
  }


  /* Footer Section */
  .footer-container {
    width: 100%;
    background-color: rgb(8, 8, 8);
    padding: 12px;
    /* margin-bottom: 650px; */
    /* position: fixed; */
    margin-top: auto;
}

.footer-links {
    display: flex;
    background-color: rgb(8, 8, 8);
    justify-content: center;
    gap: 30px;
    margin: 10px;
    font-size: 1.2rem;
}

.footer-links a {
    padding: 10px; 
    background-color: rgb(8, 8, 8);
    text-decoration: none; 
    color: white; 
    align-items: center;
} 

.footer-links a:hover {
    color: #c1003a;
    font-weight: bolder;
    text-shadow: #f2f2f2 0px 0px 40px;
}

